1| BOT_TOKEN=
2| DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/r_mantic_db
3| API_KEY=
4| REDIS_URL=
5| OWNER_ID=
6| ADMIN_LIST=
7| BOT_NAME=R-MANTIC-NIGHT
8| WELCOME_MESSAGE=مرحباً! هذا بوت ذكي.
9| FREE_MESSAGES=100
10| BASE_URL=https://api.openai.com/v1/chat/completions
11| MODEL=gpt-5
12| CONFIG_DIR=user_configs
13| CUSTOM_MODELS=
14| GROUP_LIST=
15| BLACK_LIST=
16| PASS_HISTORY=9999
